<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Medical Database</title>
</head>
<body>
    <header>
        <h1>Fake Medical Database</h1>
    </header>
    <main>
        <section class="search-section">
            <!-- <h2>Search Medical Records</h2>
            <form class="search-form">
                <input type="text" placeholder="Enter Patient ID">
                <button type="submit">Search</button>
            </form> -->
        </section>
        <section class="record-section">
            <h2>Patient Record</h2>
           <app-all-patients></app-all-patients>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Fake Medical Database</p>
    </footer>
</body>
</html>

<router-outlet></router-outlet>