.patients {
    font-family: 'Arial', sans-serif;
    color: black;
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  .patients th, .patients td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
  }

  .patients th {
    background-color: #267aa0;
    color: white;
  }

  