
<main>
    <app-navbar></app-navbar>
<div class="container">
    <h2>About Lorem Ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut ultricies ipsum, ac tincidunt est.</p>
    <p>Sed pellentesque, ipsum at cursus facilisis, lectus augue facilisis nulla, vitae euismod odio ligula et metus.</p>
    <p>Phasellus eget libero eu ipsum malesuada sodales nec a lorem.</p>
    <h2>Lorem Ipsum Generator</h2>
    <p>Nullam fringilla urna sed facilisis venenatis. Integer sit amet risus vitae nunc dictum dictum.</p>
    <p>Nam suscipit, mi vel ullamcorper mollis, mauris sapien tincidunt elit, in lacinia purus turpis nec nulla.</p>
    <p>Vivamus euismod volutpat lorem nec convallis.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions, please don't hesitate to <a href="mailto:info@example.com">contact us</a>.</p>
</div>
</main>